body{
        max-width: 1000px;
        margin-inline: auto;
        padding-inline: 1rem;
        width: 100vw; 
        height: 100vh;
        background-color: beige;
        border: 1px solid black;
}
#head-txt{
    gap:0;
    margin: 0;
}
h3{
    padding: 0;
    margin: 0;
    gap: 1px;
}

h1{
    font-size: xx-large;
}
section{
    margin-top: 70px;
    position: relative;
    left: 80px;
    top:90px;

}
#form{
    /* width: 500px ; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: large;

}
button{
    margin-top:30px ;
    position: relative;
   top: 160px;
   right: 530px;
}
#frm{
    width: 50%;
    

}
.call{
    position: relative;
    right: 140px;
}
.header{
            height: auto;
            border: 1px solid black;
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
            font-weight: 900;
            font-size: x-large;
}
        
 #ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    
}
#head-img {
    padding-bottom:6px ;
}